body {
    background-color: white;
    background-image: url("./background-a.png");
    color: black;
    font-family: 'Times New Roman';
    font-size:large;
  }

.header {
    background-color: #ffffff88;
    background-image: url("./background-b.png");
    border: 2px solid #00000088;
    text-align: center;
    padding: 8px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("./background-b.png");
  font-size: small;
  text-align: center;
  padding: 8px;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

.module {
    background-color: #ffffff88;
    background-image: url("./background-b.png");
    border: 2px solid #00000088;
}