@font-face {
  font-family: "rainyhearts";
  src: url("./fonts/rainyhearts.ttf");
}

@keyframes buttons {
  0% {transform: translateX(0px)}
  100% {transform: translateX(-1196px)}
}

@keyframes stamps {
  0% {transform: translateX(-1339px)}
  100% {transform: translatex(0px)}
}

@keyframes blinkies {
  0% {transform: translateX(0px)}
  100% {transform: translateX(-1386px)}
}

:root {
  /* body */
  --font: "rainyhearts";
  --font-color: #333366;
  --background-color: white;
  --background-image: url("./40105j35lah6jfc.gif");
  /* a */
  --primary-link-color: #9999ff;
  --secondary-link-color: #cc99ff;
  /* header */
  --header-color: #ff99ff;
  --header-image: url(https://sadhost.neocities.org/images/tiles/fondo_purplestars.gif);
  /* navbar */
  --nav-color: #ffccff;
  --nav-image: url(https://sadhost.neocities.org/images/tiles/move_heart.gif);
  --nav-primary-link-color: #cc99ff;
  --nav-secondary-link-color: #9999ff;
  /* sidebar */
  --side-color: #ffccff;
  --side-border: 1px solid #ff99ff;
  --side-image: url("https://sadhost.neocities.org/images/tiles/pastels2.gif");
  --side-primary-link-color: #9966ff;
  --side-secondary-link-color: #cc99ff;
  /* main */
  --main-color: #ffccff;
  --main-border: 1px solid #ff99ff;
  --main-image: url("https://sadhost.neocities.org/images/tiles/rbowlinebg.gif");
  /* footer */
  --footer-color: #ff99ff;
  --footer-image: none;
  /* topbar */
  --topbar-color: #ffcccc;
  /* box */
  --box-color: #9999ff88;
  --box-border: 1px solid #ff99ff;
  /* text area */
  --textarea-color: #330066;
  --textarea-background: #ffccff;
}

.dark {
  /* body */
  --font-color: #cc99ff;
  --background-image: url(https://sadhost.neocities.org/images/tiles/stars3.gif);
  /* header */
  --header-image: url(https://sadhost.neocities.org/images/tiles/sparklebackground.gif);
  /* navbar */
  --nav-image: url(https://sadhost.neocities.org/images/tiles/purplesky.gif);
  /* sidebar */
  --side-image: url(https://sadhost.neocities.org/images/tiles/purpdimond.gif);
  /* main */
  --main-image: url("https://sadhost.neocities.org/images/tiles/backstar.gif");
  /* footer */
  --footer-color: #9966ff88;
  /* box */
  --box-color: #9966ff88;
}

body {
  font-family: var(--font);
  font-size: 18px;
  margin: 0;
  background-color: var(--background-color);
  background-image: var(--background-image);
  color: var(--font-color);
}

a {
  color: var(--primary-link-color);
  font-weight: bold;
  text-shadow: none;
}

a:hover {
  color: var(--secondary-link-color);
  font-weight: bold;
  text-shadow: 2px 2px var(--primary-link-color);
}

.button {
  border: none;
  margin: 1px;
}

.button:hover {
  border: 1px solid var(--primary-link-color);
  margin: 0px;
}

* {
  box-sizing: border-box;
  text-shadow: 2px 2px #9966ff88;
}

#container {
  max-width: 1280px;
  margin: auto;
}

#header {
  width: 100%;
  background-color: var(--header-color);
  height: auto;
  background-image: var(--header-image);
  background-size: 100px 100px;
  margin-bottom: 6px;
  text-align: center;
}

#navbar {
  height: 40px;
  background-color: var(--nav-color);
  background-image: var(--nav-image);
  width: 100%;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

#navbar li {
  padding-top: 10px;
}

#navbar li a {
  color: var(--nav-primary-link-color);
  font-weight: 800;
  text-decoration: none;
}

#navbar li a:hover {
  color: var(--nav-secondary-link-color);
  text-decoration: underline;
}

.flex {
  display: flex;
}

aside {
  text-align: center;
  overflow:hidden;
  max-width: 188px
}

.sidebar {
  width: 100%;
  background-image: var(--side-image);
  background-color: var(--side-color);
  border: var(--side-border);
  padding-top: 16px;
  padding-bottom: 16px;
}

.sidebar a {
  color: var(--side-primary-link-color);
  font-weight: bold;
}

.sidebar a:hover {
  color: var(--side-secondary-link-color);
  font-weight: bold;
}

main {
  background-image: var(--main-image);
  background-color: var(--main-color);
  border: var(--main-border);
  flex: 1;
  padding: 8px;
  order: 2;
  text-align: center;
}

#leftSidebar {
  order: 1;
  margin-right: 6px
}

#rightSidebar {
  order: 3;
  margin-left: 6px;
}

footer {
  background-color: var(--footer-color);
  background-image: var(--footer-image);
  width: 100%;
  padding: 8px;
  padding-bottom: 0px;
  text-align: center;
  margin-top: 6px;
}

.box {
  background-color: var(--box-color);
  border: var(--box-border);
  padding: 10px;
}

#topBar {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: smaller;
  background-color: var(--topbar-color);
}

textarea {
  resize: none;
  color: var(--textarea-color);
  background: var(--textarea-background);
  text-shadow: none;
}
